<div class="space-launches-main row">
    <div class="align-center col-12 space-launches-card" *ngIf="(utills.spaceLaunches).length == 0">NO LAUNCH DATA FOUND</div>
    <div *ngFor='let launchData of utills.spaceLaunches' class="col-md-3 col-sm-6 col-xs-12">
        <div class="row align-center space-launches-card ">
            <div class="launch-image-container align-center col-12">
                <img class="launch-image" [src]="launchData.img" [alt]="this.errorImg" />
            </div>
            <div class="col-12 align-center font-size-14 space-launches-header">
                {{launchData.mission_name}} # {{launchData.flight_number}}
            </div>
            <div class="col-12 align-left font-size-12 space-launches-sub-header">
                Mission Id
            </div>
            <div class="col-12 align-left font-size-12 space-launches-data">
                <li *ngFor='let missionId of launchData.mission_id'>
                    {{missionId}}
                </li>
            </div>
            <div class="col-6 align-left font-size-12 space-launches-sub-header">
                Launch Year
            </div>
            <div class="col-6 align-left font-size-12 space-launches-data">
                {{launchData.launch_year ? launchData.launch_year : '-'}}
            </div>
            <div class="col-6 align-left font-size-12 space-launches-sub-header">
                Launch Success
            </div>
            <div class="col-6 align-left font-size-12 space-launches-data">
                {{launchData.launch_success}}
            </div>
            <div class="col-6 align-left font-size-12 space-launches-sub-header">
                Land Success
            </div>
            <div class="col-6 align-left font-size-12 space-launches-data">
                {{launchData.land_success}}
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.3)" size="default" >
    <p style="color: black">Fetching...</p>
</ngx-spinner>