.space-launches-main{
   // margin: 10px;
    margin-top: 0px;
    .space-launches-card{
        background-color: white;
        padding: 10px;
        .launch-image-container{
            width: 100%;
            height: 200px;
            border: 2px solid #f2f2f2;
            padding: 15px;
            .launch-image{
                width: auto;
                height: 100%;
                object-fit: contain;
                margin: auto;
            }
        }
        .space-launches-sub-header{
            font-weight: bold;
        }
        .space-launches-header{
            font-weight: bold;
            text-transform: capitalize;
            color: blue;
        }
        .space-launches-data{
            color: blue;
        }
        
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .launch-image-container{
        width: 100%;
        height: 100px !important;
    }
}