.filter-main{
    background-color: white;
    .filter-lable{
        font-size: 14px;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .filter-body{
        text-align: center;
        .filter-options{
            padding: 5px;
            text-transform: uppercase;
        }
    }
}

.btn-flag{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-flag-active{
    font-weight: bold;
    background-color: rgb(109, 247, 194);
}



