<div class="filter-main">
    <div *ngFor="let filter of this.utills.spaceFilters" class="filter-section">
        <div class="filter-lable">
            <span>
                {{filter.heading}}
            </span>
        </div>
        <div class="filter-body row">
            <div class="col-6 filter-options" *ngFor="let flag of filter.filters">
                <button class="btn-flag" [ngClass]="{'btn-flag-active': flag.selected}" (click)="setFilter(filter.type, flag.flag)">{{flag.flag}}</button>
            </div>
        </div>
    </div>
</div>