div{
   padding: 5px;
   margin: 5px;
   margin-top: 0px;
   padding-top: 0px;
}



.main {
    padding: 10px;
   max-width: 1440px;
   margin: auto;
}

.main-header{
    font-size: 16px;
    font-weight: bold;
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.font-size-16{
    font-size: 16px;

}

.font-weight-bold{
    font-weight: bold;
}

.font-size-14{
    font-size: 14px;
    
}

.font-size-12{
    font-size: 12px;
    
}

[class^="col-"], [class*=" col-"], row {
    padding: 0px;
    margin: 0px;
}