<router-outlet>
    <div class="main row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <app-header></app-header>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12">
            <app-space-launches></app-space-launches>
        </div>
    </div>
</router-outlet>