<div class="header-main row bg-white">
    <div class="col-12 font-size-16 font-weight-bold header">
        <div class="header-content">
            SpaceX Launch Program
        </div>
        <div class="header-control">
            <svg (click)="showFilterModal(filterModal)" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
            </svg>
        </div>
    </div>
</div>

<ng-template #filterModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filter</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <app-filter></app-filter>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="applyFilters($event);modal.close();">Apply</button>
    </div>
</ng-template>