.header-main{
    margin: 15px;
    margin-top: 5px;
    padding: 15px;
    .header{
        display: flex;
        flex-wrap: nowrap;
        vertical-align: middle;
        justify-content: space-between;
        .header-content{
            
        }
        .header-control{
            cursor: pointer;
        }
    }
}