/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    overflow-x: hidden !important;
   background-color: #f2f2f2 !important;
}